{% extends 'base.html.twig' %}

{% block title %}Mon agence{% endblock %}

{% block body %}

	<div class="jumbotron">

		<h1 class="text-center">Agence Immobiliere</h1>

	</div>

	<div class="container">

		<h2 class="text-center"> Les derniers biens </h2>

		<div class="row flex">
			{% for property in properties if properties is not empty %}
				<div class="col-md-3">
					{% include('property/_property.html.twig') %}	
				</div>
			{% else %}
				<div class="alert alert-danger">Aucune propriété ne correspond à votre recherche ! <div>
			{% endfor %}
		</div>

	</div>

{% endblock %}
